<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AliexpressMessageMapper">
	<!-- 查询excel文件上传记录信息 -->
	<select id="findAliexpressStorePage" parameterType="Dto"
		resultType="Dto">
		SELECT
		t0.ID as id,
		t0.HOSTNAME as name,
		t0.TYPE as type,
		t0.DATE as date,
		t0.STATUS as status,
		t0.CREATE_AT as create_at,
		t0.ACCOUNT as account,
		t0.PATH as path
		FROM
		aliexpress_financial as t0
		WHERE 1=1

		<if test="name != null and name != ''">
			and t0.hostname like '%${name}%'
		</if>

		<if test="status!=null and status !=''">
			and t0.status like '%${status}%'
		</if>

		<if test="account != null and account != ''">
			and t0.account like '%${account}%'
		</if>
	</select>
	<!--查询对应店铺下excel信息 -->
	<select id="findAliexpressByaccount" parameterType="Dto" resultType="Dto">
		SELECT
		t0.ID as id,
		t0.HOSTNAME as name,
		t0.TYPE as type,
		t0.DATE as date,
		t0.STATUS as status,
		t0.CREATE_AT as create_at,
		t0.ACCOUNT as account,
		t0.PATH as path
		FROM
		aliexpress_financial as t0
		WHERE hostname = #{hostname}
		<if test="name != null and name != ''">
			and t0.hostname like '%${name}%'
		</if>

		<if test="status!=null and status !=''">
			and t0.status like '%${status}%'
		</if>

		<if test="account != null and account != ''">
			and t0.account like '%${account}%'
		</if>
	</select>
	<!--查询对应业务员下的店铺 -->
	<select id="accountSelect" parameterType="Dto" resultType="Dto">
		<![CDATA[
		  SELECT NAME as display,ACCOUNT as value FROM aliexpress_shop WHERE host = #{host} 
		]]>
	</select>
	<!--查询是否有重复记录 -->
	<select id="selectExcelMessage" parameterType="Dto" resultType="Dto">
	      SELECT HOSTNAME as hostname,PATH as path FROM aliexpress_financial WHERE account = #{account} AND type= #{type} AND date=#{date}
	</select>
	<!-- 新增导入财务excel表记录 -->
	<insert id="saveExcelMessage" parameterType="Dto">
		<![CDATA[
		  INSERT INTO aliexpress_financial
		     (HOSTNAME,ACCOUNT,TYPE,STATUS,DATE,PATH,CREATE_AT) VALUES (
		     #{hostname,jdbcType=VARCHAR},
		     #{account,jdbcType=VARCHAR},
		     #{type,jdbcType=VARCHAR},
		     #{status,jdbcType=VARCHAR},
		     #{date,jdbcType=VARCHAR},
		     #{path,jdbcType=VARCHAR},
		     now()    
		   )
		]]>
	</insert>
	<!--根据path删除excel上传记录 -->
	<delete id="deleteExcelMessage" parameterType="Dto">
      <![CDATA[
        DELETE FROM aliexpress_financial WHERE  PATH =#{path}
      ]]>
	</delete>

	<!--根据path修改excel记录状态 -->
	<update id="sendMessagelist" parameterType="Dto">
	   <![CDATA[
	       UPDATE aliexpress_financial SET
	       STATUS = #{status,jdbcType=VARCHAR}
		   WHERE PATH = #{path}
	   ]]>
	</update>
	<!-- 若重复上传则更新excel记录 -->
	<update id="updateExcelMessage" parameterType="Dto">
	<![CDATA[
	       UPDATE aliexpress_financial SET
	       PATH = #{path,jdbcType=VARCHAR},
	       status= #{status,jdbcType=VARCHAR}
	       WHERE account= #{account} AND date = #{date}   
	]]>
	</update>
	<!-- 向数据存入推送数据的记录 -->
	<insert id="hostoryMessage" parameterType="Dto">
	    INSERT INTO aliexpress_financial_history
		     (ACCOUNTLOGID,STOREACCOUNT,DATE,CURRENCY,TRADINGINFORMATION,BUSINESSTYPE,DISPENSING,BALANCE,DEPOSIT) VALUES (
		     #{accountLogId,jdbcType=VARCHAR},
		     #{storeAccount,jdbcType=VARCHAR},    
		     #{date,jdbcType=VARCHAR}, 
		     #{currency,jdbcType=VARCHAR}, 
		     #{tradingInformation,jdbcType=VARCHAR}, 
		     #{businessType,jdbcType=VARCHAR}, 
		     #{dispensing,jdbcType=VARCHAR}, 
		     #{balance,jdbcType=VARCHAR},  
		     #{deposit,jdbcType=VARCHAR}
		   )
	</insert>
</mapper>